body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

#map {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

#spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100px;
    text-align: center;
    color: #ffffff;
    z-index: 1000;
    background-color: #000000;
}

#counter {
    position: fixed;
    right: 0%;
    top: 10%;
    width: 200px;
    text-align: left;
    color: #ffffff;
    z-index: 1000;
    background-color: darkslategrey;
}

i {
    color: red;
    z-index: 2000;
}
#legend {
    position: absolute;
    bottom: 85px;
    left: 50px;
    width: 200px;
    height: 100px;
    zIndex: 1002;
    /*backgroundColor: white;*/
    padding: 8px;
    border: 1px solid #ccc;
}
