body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    cursor: pointer;
}

.navbar-inner {
    height: 40px;
}

.avatar {
    height: 36px;
    margin: 2px 0 0 15px;
}

.shadow {
    box-shadow: 2px 2px 5px #999;
}

#map {
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    bottom: 0;
}

#spinner {
    position: fixed;
    left: 50%;
    top: 30%;
    width: 100px;
    padding: 55px 20px 20px;
    margin-left: -50px;
    text-align: center;
    color: #ffffff;
    z-index: 1000;
    background: #000 url(../images/spinner.gif) 50% 20px no-repeat;
}

#help {
    position: fixed;
    left: 50%;
    top: 10%;
    width: 300px;
    padding: 20px 40px 20px;
    margin-left: -170px;
    text-align: left;
    color: #ffffff;
    z-index: 2000;
    background: #000;
}
#help .dismiss {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

#counter {
    position: fixed;
    right: 20px;
    top: 62px;
    width: 200px;
    padding: 10px;
    text-align: left;
    color: #ffffff;
    z-index: 1000;
    background-color: darkslategrey;
    border-radius: 2px;
}

.fa-star {
    color: #ffff00;
}

#legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 200px;
    height: 100px;
    zIndex: 1002;
    border-style: solid;
    background-color: #808080;
    padding: 8px;
    border: 1px solid #ccc;
}

.thumbnail img {
    min-height: 30px;
    height: 30px;
}
