<div class="navbar">
    <div class="navbar-inner">
        <div ng-show="currentUser">
            <a class="brand" href="#">Welcome to Snapplr, {{currentUser.name}}!</a>
            <img ng-src="{{currentUser.image}}" class="avatar img-circle pull-right"/>

            <!--<div class="thumbnail">
                <img src="http://assets.neo4j.org/new/img/logo-white.svg" class="img-circle"/>
            </div>
            <div class="thumbnail">
                <img src="https://userbin-5d5.kxcdn.com/assets/logo@2x-8bce91e0d059335ec3a47290e254ecbf.png"/>
            </div>
            -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="btn ub-logout">
                        Log out</a></li>
                    <li><a class="btn" ng-click="reset()">
                        Reset</a></li>

                </ul>
            </div>
        </div>
        <div ng-hide="currentUser">
            <a class="btn ub-login">Log in with Userbin</a>
            <a class="brand" href="#">Welcome to Snapplr, Human!</a>
        </div>
    </div>
</div>
<div leaflet id="map"></div>

<div id="spinner" ng-show="isLoading>0" class="shadow">Loading...</div>
<div class="well shadow" id="legend">
    <h4>Details</h4>

    <div id="details"></div>
</div>
<div id="counter" ng-show="currentUser" class="shadow">
    <h4>Your starred stuff</h4>

    <div ng-repeat="(key, value) in starredFeatures">
        <i class="fa fa-star"></i> {{ value }} <br/>
    </div>
</div>
