<div class="navbar">
    <div class="navbar-inner">
        <div ng-show="currentUser">
            <a class="brand" href="#">Welcome to Snapplr, {{currentUser.name}}!</a>
            <img ng-src="{{currentUser.image}}" class="avatar img-circle pull-right"/>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="ub-logout">
                        Log out</a></li>
                    <li><a ng-click="reset()">
                        Reset</a></li>
                    <li><a ng-click="showHelp = true">
                        About</a></li>
                </ul>
            </div>
        </div>
        <div ng-hide="currentUser">
            <a class="btn ub-login">Log in to save your locations</a>
            <a class="btn" ng-click="showHelp = true">About</a>
            <a class="brand" href="#">Welcome to Snapplr, Human!</a>
        </div>
    </div>
</div>
<div leaflet id="map"></div>

<div id="spinner" ng-show="isLoading>0" class="shadow">Loading...</div>
<div class="well shadow" id="legend">
    <h4>Details</h4>

    <div id="details"></div>
</div>
<div id="counter" ng-show="currentUser" class="shadow">
    <h4>Your starred stuff</h4>

    <div ng-repeat="(key, value) in starredFeatures">
        <i class="fa fa-star"></i> {{ value }} <br/>
    </div>
</div>

<div class="well shadow" id="help" ng-show="showHelp">
    <a class="dismiss pull-right" ng-click='showHelp = false'>&times;</a>
    <h4>Help</h4>
    <p>Snapplr is a little application built to show off the concept of exploring and attaching things to features in your immediate vicinity.
    Eventually, you will be able to attach pictures, playlists, events and statuses to buildings, streets and other geographic features, and discover
    what others like by just being in the vicinity to the same features (e.g. the other side of the same building).</p>
    <p>Snapplr is developed using the <a href="http://neo4j.org" target="_new">Neo4j Graph Database</a> and the <a href="http://userbin.com" target="_new">Userbin Rapid Application framework.</a> </p>
    <ul>
        <li>click on the map to see Open Street Map Buildings and Ways with their nearest edge closer than 10m to you
        </li>
        <li>Log in with Github in order to be able to save you starred buildings and streets</li>
        <li>Being logged-in, click on a place, then click on a highlighted feature in order to star it.</li>
        <li>Hit Actions->Reset to reset your starred features.</li>
    </ul>
</div>
